body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map{
    width:100%;
    height: 100%;
}

.title{
    position: absolute;
    z-index:100;
    font-size:40px;
    font-weight:bold;
    color:white;
    text-transform:uppercase;
    top:60px;
    left:70px;

}
.search-container{
    position: absolute;
    z-index: 100;
    top: 150px;
    left: 60px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    height: 60px;
    width: 400px;
    border-radius: 30px;
    display: flex;
}


.search-container .search{
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-left: 20px;
    padding-right:20px;

}

.search-container .search #zip-code-input{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
    
}
.search i{
    cursor:pointer;
}

.search-container .search #zip-code-input:focus{
    outline:none;
}
.search i{
    font-size: 25px;
    color: white;
}

.store-list-container {
    width: 400px;
    display:flex;
    position: absolute;
    z-index: 100;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    left: 60px;
    border-radius: 50px;
    top: 250px;
    bottom: 20px;
    overflow-y: hidden;
    padding-bottom:30px;
}

.store-info-container{
    flex-grow: 1;
}
.store-number-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-list-container .store-list{
    flex-grow:1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.store-list-container .store-list::-webkit-scrollbar {
    display:none;
}

.store-list-container .store-container{
    color: white;
    padding-top: 10px;
    line-height: 1;
    display:flex;
    width:90%;
    margin-left: 20px;
    border-bottom:1px solid white;
    cursor:pointer;
}
.store-address span{
    display:block;
}

.store-address{
    margin-top:20px;
    line-height: normal;
}

.store-address .name{
    font-size:20px;
    color:white;
}

.store-address .addr{
    font-size:16px;
    color:darkgrey;
}

.store-phone-no{
    color:Lightgreen;
    margin-top:10px;
    margin-bottom:15px;
}

.store-number{
    width:30px;
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    color:black;
    border-radius: 50%;
}

.style-info-window{
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name{
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,0.87);
}

.store-info-status{
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address{
    display: flex;
    align-items: center;
    margin-top: 6px;
}
.store-info-phone{
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: green;
}
.store-info-address .circle, .store-info-phone .circle{
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:8px;
}

.store-container-background{
    display: flex;
    flex-grow: 1;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.store-container-background:hover{
    display: flex;
    flex-grow: 1;
    background-color: darkcyan;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: all 0.2s ease-in-out;
}